* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Import Poppins Font - Google Fonts :) */
  font-family: "Poppins";
}
body {
  /* spacing from left right top bottom */
  padding: 140px;
  /* centering */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h2 {
  color: #4561ff;
  font-size: 60px;
}
p {
  color: #777;
  font-weight: 500;
  font-size: 17px;
}
button {
  background: #4561ff;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 12px 40px;
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}
